<div class="row w-100 m-auto">
      <div class="col-4">
        <div class="border rounded p-2 m-auto p-4">
          <h4>Agregar Gasto</h4>
          <hr class="bg-light w-25 mx-auto" />

          <div class="d-flex flex-column align-items-center">
            <h6>Roommate</h6>
            <select
              class="form-control w-50 mb-2"
              id="roommatesSelect"></select>
            <h6>Descripción</h6>
            <textarea class="form-control w-50 mb-2" id="descripcion">
              Articulos de limpieza</textarea>

            <h6>Monto:</h6>
            <input
              class="form-control w-50 mb-2"
              id="monto"
              type="number"
              value="15000" />
          </div>
          <div class="d-block my-1">
            <button class="btn text-white m-auto" onclick="agregarGasto()">
              Agregar
            </button>
          </div>
        </div>
      </div>

    </div>