<div class="col-4 mt-5">
  <div class="border rounded p-2 m-auto p-4 mt-5" style="margin: top 20px !important;">
    <h4>Agregar Gasto</h4>
    <hr class="bg-light w-25 mx-auto" />

    <div class="d-flex flex-column align-items-center">
      <form id="formGastos">
        <h6 class="text-center">Roommate</h6>
        <select class="form-select form-group" aria-label="Default select example" id="room" name="room">
          {{#each roommates}}
          <option value="{{id}}">{{nombre}}</option>
          {{/each}}
        </select>
        <h6>Descripción</h6>
        <textarea class="form-group border" id="descripcion" name="descripcion"></textarea>

        <h6>Monto:</h6>
        <input class="form-group border" id="monto" type="number" name="monto" />
    </div>
    </form>
    <div class="d-block my-1">
      <button class="btn btn-primary" type="button" id="agregarGasto">
        Agregar
      </button>
    </div>
  </div>
</div>