<div class="col-4">
        <div>
          <h4>Historial</h4>
          <hr class="bg-light w-25 mx-auto" />

          <table class="table">
            <thead class="text-white">
              <th>Nombre</th>
              <th>Comentario</th>
              <th>Monto</th>
              <th>-</th>
            </thead>
            <tbody class="text-white" id="gastosHistorial"></tbody>
          </table>
        </div>
      </div>