

<div class="col-4">
        <h5>Roommates</h5>
        <button type="button" class="btn btn-primary mb-4" id="agregarRoomates">
          Agregar roommate
        </button>
        <table class="table table-striped table-hover">
          <thead>
            <th>Nombre</th>
            <th>Debe</th>
            <th>Recibe</th>
          </thead>
          <tbody id="roommates"></tbody>
            {{#each roommates}}
            <tr>
              <td>{{nombre}}</td>
              <td>{{debe}}</td>
              <td>${{recibe}}</td>
            </tr>
            {{/each}}

        </table>
  </div>



