body {
    text-align: center !important;
    color: white !important;
    background-color: #23036a !important;
}

.contenido{
    margin-top: 10% !important;
}
.modal-body {
    color: black !important;
}

 .btn-primary{
    background: #6200ee !important;
}

i {
    cursor: pointer !important; 
}